environment:
  matrix:
    - nodejs_version: 0.10
    # - nodejs_version: 0.11

platform:
  - x64
  - x86

install:
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - ps: Start-FileDownload "https://mapnik.s3.amazonaws.com/dist/dev/VS-2014-runtime/vcredist_$env:Platform.exe"
  - .\vcredist_%platform%.exe /q /norestart
  - npm install
  - npm test

build: OFF
test: OFF
deploy: OFF

