html,
body,
#map {
  margin: 0;
  height: 100%;
}

#zoom-level {
  margin: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #ddd;
}

/* Allow right click on tiles for easier debugging */
.leaflet-tile-container {
  pointer-events: auto;
}
